.mainContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainContent::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(10px) brightness(20%);
    z-index: -2;
    transform: scale(1.1);
}

.snsButton {
    color:white;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}