@keyframes infinity-scroll-right {
    from {
        transform: translateX(-80%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-80%);
    }
}

.container {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.list_box_right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    flex-shrink: 0;
    animation :infinity-scroll-right 50s infinite linear;
}

.list_box_left {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   height: 100%;
    flex-shrink: 0;
    animation :infinity-scroll-left 50s infinite linear;
}

.list_item {
    width:auto;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_item>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: transparent;
}
.list_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

}