.button {
    transition: 0.3s;
    &:hover{
        transform: scale(1.05);
        color:rgba(255,255,255,1);
    }
}

.list {
    height: 70%;
    padding-left: 40px;
    display: grid;
    gap: 3%;
}

.closeButtonBox {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.closeButton {
    border: 0;
    transition: 0.3s;
    &:hover{
        transform: scale(1.3);
        color:rgba(255,255,255,1);
        border: 0;
    }
}

.ticketBox {
    padding-top: 20px;
    position: relative;
    width: 100%;
    min-height: 7%;
    display: flex;
    justify-content: center;
}

.ticketButton {
    height: 100%;
    width: 50%;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    &:hover {
        transform: scale(1.05);
        background-color: rgba(255,255,255,0.2);
        border: 1px solid white;
    }
}