@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body {
    font-family: 'Tangerine', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}